@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #0b0b22;
  background: #fca016;
}

::-webkit-scrollbar {
  width: 10px;
  transform: rotate();
}

::-webkit-scrollbar-track {
  background: #0b0b22;
}

::-webkit-scrollbar-thumb {
  background: #2d3c4b;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fca016;
}

@layer components {
  .text-muted {
    @apply text-white text-opacity-60;
  }
  .bg-muted {
    @apply bg-white bg-opacity-60;
  }
  .text-light {
    @apply text-white text-opacity-5;
  }
  .bg-light {
    @apply bg-white bg-opacity-5;
  }
  .button-light {
    @apply bg-white bg-opacity-10;
  }
  .border-light {
    @apply border-white border-opacity-10;
  }
  .primary-light {
    @apply bg-primary bg-opacity-10;
  }

  .blur-particle {
    @apply rounded-full blur-[90px] opacity-20 animate-pop;
  }
  .animate-blur-particle {
    @apply blur-particle animate-blob blur-[120px];
  }
}
